.card-icon{
    font-size:42px;
    margin-bottom:18px;
}

.card p{
    margin-top:12px;
    opacity:.85;
}

.card{
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 35px rgba(0,0,0,.18);
}